<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default"/>
	<f:section name="Main">
	        <div id="c{data.uid}" class="grid-x grid-margin-x subtype-{data.tx_gridelements_backend_layout}">
			    <div id="c{data.uid}-1" class="medium-4 cell">
			        <f:for each="{children.1.100}" as="child">
			            <f:render partial="Child"
			                      arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
			        </f:for>
			    </div>
			    <div id="c{data.uid}-2" class="medium-4 cell">
			        <f:for each="{children.1.101}" as="child">
			            <f:render partial="Child"
			                      arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
			        </f:for>
			    </div>
			    <div id="c{data.uid}-3" class="medium-4 cell">
			        <f:for each="{children.1.102}" as="child">
			            <f:render partial="Child"
			                      arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
			        </f:for>
			    </div>

			</div>

	</f:section>
</html>