<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

<f:if condition="{teaserimage.0}">
		<img srcset="
		{f:uri.image(image:teaserimage.0,cropVariant:'small',width:'640')} 640w,
		{f:uri.image(image:teaserimage.0,cropVariant:'medium',width:'992')} 992w,
        {f:uri.image(image:teaserimage.0,cropVariant:'default')} 1024w" src="{f:uri.image(image:teaserimage.0,cropVariant:'default')}"  alt="{teaserimage.0.alternative}" title="{teaserimage.0.title}">
{teaserimage.0.link}
</f:if>
	<f:if condition="{data.header}"><h3>{data.header}</h3></f:if>
	<f:if condition="{data.subheader}"><h4>{data.subheader}</h4></f:if>
	<f:format.html>{data.bodytext}</f:format.html>
	


	<f:if condition="{data.readmore_link}">
		<f:link.typolink parameter="{data.readmore_link}" class="button expanded">
                <f:if condition="{data.readmore_label}">
                    <f:then>
                        {data.readmore_label}
                    </f:then>
                    <f:else>
                        <f:translate key="content.label.readmore_label" extensionName="bhsiteconf"/>
                    </f:else>
                </f:if>
		</f:link.typolink>
	</f:if>







</f:section>
</html>
