<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
<f:comment>
<f:if condition="{teaserimage.0}">
<img data-interchange="[{f:uri.image(image:teaserimage.0,cropVariant:'small',maxWidth:'640')}, small], [{f:uri.image(image:teaserimage.0,cropVariant:'medium',maxWidth:'1024')}, medium], [{f:uri.image(image:teaserimage.0,cropVariant:'default')}, large]" alt="{teaserimage.0.alternative}" title="{teaserimage.0.title} ">
{teaserimage.0.link}
</f:if>

</f:comment>
<f:if condition="{teaservideo.0}">
<f:render partial="Media/Type" arguments="{file: teaservideo.0, dimensions: column.dimensions, data: data, settings: settings}" />	
</f:if>
	<f:if condition="{data.header}"><h3>{data.header}</h3></f:if>
	

	<f:if condition="{data.subheader}"><h4>{data.subheader}</h4></f:if>
	<f:format.html>{data.bodytext}</f:format.html>
	<f:render partial="ReadMoreLink" arguments="{data:data}" />
</f:section>
</html>
