<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
<header class="grid-container">	
	<f:comment>
	if you have more than one image and you want to show all - pay attention to the Layout file where you call the partial (arguments!!)
	<f:for each="{headerImage}" as="ItemImage">
		<f:uri.image image="{ItemImage}" />

	</f:for>
	</f:comment>
	<f:if condition="{headerImage.0}">
		<img srcset="
		{f:uri.image(image:headerImage.0,cropVariant:'small',width:'640')} 640w,
		{f:uri.image(image:headerImage.0,cropVariant:'medium',width:'1024')} 1024w,
        {f:uri.image(image:headerImage.0,cropVariant:'default')} 1920w" src="{f:uri.image(image:headerImage.0,cropVariant:'default')}"  alt="" >
	</f:if>
	<nav role="navigation">
		<v:page.menu.list showHiddenInMenu="1" pages="{settings.pagesInHeaderMenu}" class="menu" classActive=""/>
	</nav>
</header>
</html>